.page-header {
    background-color: #f5f8ff;
    padding: 50px 0 55px;

}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #7b8493;

    font-size: 13px;

    margin-bottom: 18px;

}

.breadcrumb a {
    color: #1769ff;
}

.page-header h1 {
    font-size: 40px;
    line-height: 1.2;

    margin-bottom: 10px;

}

.page-header p {
    color: #707b8c;
    font-size: 15px;

}

.payment-section {
    padding: 65px 0 90px;
    background-color: #ffffff;

}

.payment-layout {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr;

    gap: 40px;

    align-items: start;

}